.left-h1 {
  font-size: 28px;
}

#p1-left {
  font-size: 42px;
  line-height: 1.25;
}

#p2-left {
  font-size: 18px;
}

.email-section input {
  font-size: 18px;
}

.remember-section {
  font-size: 16px;
}

#btn-login,
#btn-signup {
  font-size: 18px;
}

.alt-login-section {
  font-size: 16px;
}

#right-top {
  font-size: 18px;
}
.left-box {
  justify-content: flex-start;
}

.Log {
  margin-top: 40px;
}

#p1-left {
  margin-top: 20px;
}

#p2-left {
  margin-top: 10px;
}

