.right-box {
  grid-area: b2;
  /* border: 2px solid red; */
  padding: 0px;
  max-width: 540px;
  height: auto;
  align-self: start;
  margin:0px;
  color: #736d6def;
}

.right-image {
  grid-area: b3;
  display: flex;
  align-content: center;
  justify-content: center;
}

.right-h1 {
  display: flex;
  gap: 50px;
  align-content: flex-start;
  justify-content: center;
  margin-top: 5px;
}

#right-top {
  font-size: 25px;
  color: gray;
}

.right-column {
  grid-area: b2 / b2 / b3 / b3;
  background-color: #ede3e3ef ;
}
